<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Delete {{contact}}'s Contact</h1>
    <form method="post" action>
        {% csrf_token %}
        <h3>Are you sure you want to delete?</h3>
    <a href = "{% url 'index' %}">Cancel</a>
    <input type="submit" value="Delete Contact">
    </form>    
</body>
</html>
