<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Contact Book</h1>
    <br><a href="{% url 'add' %}">Add Contact</a><br>
    {% for i in contact %}
    {{i.name}} {{i.number}}
    <a href="{% url 'edit' i.id %}">Edit</a>
    <a href="{% url 'delete' i.id %}">Delete</a>
    <br>
    {% endfor %}
</body>
</html>